/*

Dark Theme for Kawaii Kit - Tkinter

Author: thirdtype
https://github.com/thethirdtype

*/

.Button {
    activebackground: #444444;
    activeforeground: #FFFFFF;
    bg: #444444;
    fg: #FFFFFF;
}

.Canvas {
    bg: #2C2C2C;
    highlightbackground: #2C2C2C;
}

.Checkbutton {
    activebackground: #2C2C2C;
    activeforeground: #FFFFFF;
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Entry {
    bg: #333333;
    fg: #FFFFFF;
    insertbackground: #FFFFFF;
    selectbackground: #444444;
    selectforeground: #FFFFFF;
}

.Frame {
    bg: #2C2C2C;
}

.Label {
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Listbox {
    bg: #333333;
    fg: #FFFFFF;
    highlightbackground: #2C2C2C;
    selectbackground: #444444;
    selectforeground: #FFFFFF;
}

.Menu {
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Menubutton {
    activebackground: #2C2C2C;
    activeforeground: #FFFFFF;
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Message {
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Radiobutton {
    activebackground: #2C2C2C;
    activeforeground: #FFFFFF;
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Scale {
    activebackground: #2C2C2C;
    bg: #2C2C2C;
    fg: #FFFFFF;
    highlightbackground: #2C2C2C;
    troughcolor: #333333;
}

.Scrollbar {
    activebackground: #2C2C2C;
    bg: #2C2C2C;
    highlightbackground: #2C2C2C;
    throughcolor: #333333;
}

.Text {
    bg: #333333;
    fg: #FFFFFF;
    insertbackground: #FFFFFF;
    selectbackground: #444444;
    selectforeground: #FFFFFF;
}

.Toplevel {
    bg: #2C2C2C;
}
