/*

Dark Theme for Tkinter

Author: thirdtype
https://github.com/thethirdtype

*/

.Button {
    activebackground: #444444;
    activeforeground: #FFFFFF;
    bg: #444444;
    fg: #FFFFFF;
}

.Canvas {
    bg: #2C2C2C;
}

.Checkbutton {
    activebackground: #2C2C2C;
    activeforeground: #FFFFFF;
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Entry {
    bg: #333333;
    fg: #FFFFFF;
    insertbackground: #FFFFFF;
}

.Frame {
    bg: #2C2C2C;
}

.Label {
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Listbox {
    bg: #333333;
    fg: #FFFFFF;
}

.Menu {
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Menubutton {
    activebackground: #444444;
    activeforeground: #FFFFFF;
    bg: #444444;
    fg: #FFFFFF;
}

.Message {
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Radiobutton {
    activebackground: #2C2C2C;
    activeforeground: #FFFFFF;
    bg: #2C2C2C;
    fg: #FFFFFF;
}

.Scale {
    activebackground: #333333;
    bg: #333333;
    fg: #FFFFFF;
}

.Scrollbar {
    bg: #444444;
}

.Text {
    bg: #333333;
    fg: #FFFFFF;
    insertbackground: #FFFFFF;
}

.Toplevel {
    bg: #2C2C2C;
}
