/*

Dark Theme for Tkinter

Author: thirdtype
https://github.com/thethirdtype

*/

.Button {
    active-background-color: #444444;
    active-foreground-color: #FFFFFF;
    background-color: #444444;
    foreground-color: #FFFFFF;
}

.Canvas {
    background-color: #2C2C2C;
}

.Checkbutton {
    active-background-color: #2C2C2C;
    active-foreground-color: #FFFFFF;
    background-color: #2C2C2C;
    foreground-color: #FFFFFF;
}

.Entry {
    background-color: #333333;
    foreground-color: #FFFFFF;
    insert-background-color: #FFFFFF;
}

.Frame {
    background-color: #2C2C2C;
}

.Label {
    background-color: #2C2C2C;
    foreground-color: #FFFFFF;
}

.Listbox {
    background-color: #2C2C2C;
    foreground-color: #FFFFFF;
}

.Menu {
    background-color: #2C2C2C;
    foreground-color: #FFFFFF;
}

.Menubutton {
    active-background-color: #444444;
    active-foreground-color: #FFFFFF;
    background-color: #444444;
    foreground-color: #FFFFFF;
}

.Message {
    background-color: #2C2C2C;
    foreground-color: #FFFFFF;
}

.Radiobutton {
    active-background-color: #2C2C2C;
    active-foreground-color: #FFFFFF;
    background-color: #2C2C2C;
    foreground-color: #FFFFFF;
}

.Scale {
    active-background-color: #2C2C2C;
    background-color: #2C2C2C;
    foreground-color: #FFFFFF;
}

.Scrollbar {
    background-color: #444444;
}

.Text {
    background-color: #333333;
    foreground-color: #FFFFFF;
    insert-background-color: #FFFFFF;
}

.Toplevel {
    background-color: #2C2C2C;
}
